<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search For Jokes</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1>Please type a word</h1>
    <form id="findJoke" method="post" action="/jokes">
        <label id="labelWord" for="word">Find a joke contains the word</label>
        <input type="text" name="word" id="word" placeholder="word" required>
        <button type="submit" id="submit">Find Joke</button>
    </form>
</body>

</html>